<div data-controller="counter" class="d-flex align-items-center justify-content-center mt-4">
  <div class="counter">
    <span class="badge badge-primary p-3" data-target="counter.count"><%= @restaurant_count %></span>
  </div>

  <button data-action="click->counter#refresh" class="btn btn-outline-secondary">Refresh counter</button>
</div>

